body {
	background-color: #F1F1F1;
	color: #0F0F0F;
	text-align: center;
}

a:link, a:visited, a:active, a:hover {
	color: #0F0F0F;
}

#content {
	margin: 0px auto;
	padding-top: 4em;
	width: 400px;
}

#content p {
	margin: 0px auto;
	width: 280px;
}
